In [1]:
# import packages
import pandas as pd

In [2]:
df = pd.read_csv("india-covid-data.csv")

In [3]:
df.head()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7546,5,7412,129,0.07,98.22,1.71
1,Andhra Pradesh,1983721,19549,1950623,13549,0.99,98.33,0.68
2,Arunachal Pradesh,50372,2606,47520,246,5.17,94.34,0.49
3,Assam,575220,11096,558720,5404,1.93,97.13,0.94
4,Bihar,725235,286,715303,9646,0.04,98.63,1.33

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UTs            36 non-null     object
 1   Total Cases          36 non-null     int64
 2   Active               36 non-null     int64
 3   Discharged           36 non-null     int64
 4   Deaths               36 non-null     int64
 5   Active Ratio (%)     36 non-null     float64
 6   Discharge Ratio (%)  36 non-null     float64
 7   Death Ratio (%)      36 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.4+ KB

In [5]:
df.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
count,3.600000e+01,36.000000,3.600000e+01,36.000000,36.000000,36.000000,36.000000
mean,8.888377e+05,10791.888889,8.661380e+05,11907.833333,2.249167,96.488333,1.262222
std,1.287628e+06,30178.733935,1.246344e+06,23009.954783,4.915139,4.802669,0.565555
min,7.546000e+03,5.000000,7.412000e+03,4.000000,0.020000,72.270000,0.040000
25%,6.751450e+04,268.500000,6.287400e+04,801.000000,0.067500,97.037500,0.940000
50%,4.613130e+05,1354.000000,4.503970e+05,5267.000000,0.600000,98.140000,1.320000
75%,9.917780e+05,8697.500000,9.755442e+05,13542.250000,1.435000,98.630000,1.607500
max,6.357833e+06,170031.000000,6.151956e+06,134064.000000,27.350000,99.910000,2.720000

In [7]:
df.shape

(36, 8)

In [8]:
# looping

# for loop

for i, row in df.iterrows():
    print(i,  row)

0 State/UTs              Andaman and Nicobar
Total Cases                           7546
Active                                   5
Discharged                            7412
Deaths                                 129
Active Ratio (%)                      0.07
Discharge Ratio (%)                  98.22
Death Ratio (%)                       1.71
Name: 0, dtype: object
1 State/UTs              Andhra Pradesh
Total Cases                   1983721
Active                          19549
Discharged                    1950623
Deaths                          13549
Active Ratio (%)                 0.99
Discharge Ratio (%)             98.33
Death Ratio (%)                  0.68
Name: 1, dtype: object
2 State/UTs              Arunachal Pradesh
Total Cases                        50372
Active                              2606
Discharged                         47520
Deaths                               246
Active Ratio (%)                    5.17
Discharge Ratio (%)                94.34
Death Ratio (%)                     0.49
Name: 2, dtype: object
3 State/UTs               Assam
Total Cases            575220
Active                  11096
Discharged             558720
Deaths                   5404
Active Ratio (%)         1.93
Discharge Ratio (%)     97.13
Death Ratio (%)          0.94
Name: 3, dtype: object
4 State/UTs               Bihar
Total Cases            725235
Active                    286
Discharged             715303
Deaths                   9646
Active Ratio (%)         0.04
Discharge Ratio (%)     98.63
Death Ratio (%)          1.33
Name: 4, dtype: object
5 State/UTs              Chandigarh
Total Cases                 61984
Active                         27
Discharged                  61146
Deaths                        811
Active Ratio (%)             0.04
Discharge Ratio (%)         98.65
Death Ratio (%)              1.31
Name: 5, dtype: object
6 State/UTs              Chhattisgarh
Total Cases                 1003244
Active                         1700
Discharged                   988004
Deaths                        13540
Active Ratio (%)               0.17
Discharge Ratio (%)           98.48
Death Ratio (%)                1.35
Name: 6, dtype: object
7 State/UTs              Dadra and Nagar Haveli and Daman and Diu
Total Cases                                               10653
Active                                                        6
Discharged                                                10643
Deaths                                                        4
Active Ratio (%)                                           0.06
Discharge Ratio (%)                                       99.91
Death Ratio (%)                                            0.04
Name: 7, dtype: object
8 State/UTs                Delhi
Total Cases            1436800
Active                     498
Discharged             1411235
Deaths                   25067
Active Ratio (%)          0.03
Discharge Ratio (%)      98.22
Death Ratio (%)           1.74
Name: 8, dtype: object
9 State/UTs                 Goa
Total Cases            171944
Active                    896
Discharged             167884
Deaths                   3164
Active Ratio (%)         0.52
Discharge Ratio (%)     97.64
Death Ratio (%)          1.84
Name: 9, dtype: object
10 State/UTs              Gujarat
Total Cases             825064
Active                     209
Discharged              814778
Deaths                   10077
Active Ratio (%)          0.03
Discharge Ratio (%)      98.75
Death Ratio (%)           1.22
Name: 10, dtype: object
11 State/UTs              Haryana
Total Cases             770091
Active                     672
Discharged              759769
Deaths                    9650
Active Ratio (%)          0.09
Discharge Ratio (%)      98.66
Death Ratio (%)           1.25
Name: 11, dtype: object
12 State/UTs              Himachal Pradesh
Total Cases                      208197
Active                             2086
Discharged                       202576
Deaths                             3535
Active Ratio (%)                    1.0
Discharge Ratio (%)                97.3
Death Ratio (%)                     1.7
Name: 12, dtype: object
13 State/UTs              Jammu and Kashmir
Total Cases                       322658
Active                              1311
Discharged                        316957
Deaths                              4390
Active Ratio (%)                    0.41
Discharge Ratio (%)                98.23
Death Ratio (%)                     1.36
Name: 13, dtype: object
14 State/UTs              Jharkhand
Total Cases               347406
Active                       202
Discharged                342074
Deaths                      5130
Active Ratio (%)            0.06
Discharge Ratio (%)        98.47
Death Ratio (%)             1.48
Name: 14, dtype: object
15 State/UTs              Karnataka
Total Cases              2919711
Active                     23342
Discharged               2859552
Deaths                     36817
Active Ratio (%)             0.8
Discharge Ratio (%)        97.94
Death Ratio (%)             1.26
Name: 15, dtype: object
16 State/UTs               Kerala
Total Cases            3565574
Active                  170031
Discharged             3377691
Deaths                   17852
Active Ratio (%)          4.77
Discharge Ratio (%)      94.73
Death Ratio (%)            0.5
Name: 16, dtype: object
17 State/UTs              Ladakh
Total Cases             20400
Active                     72
Discharged              20121
Deaths                    207
Active Ratio (%)         0.35
Discharge Ratio (%)     98.63
Death Ratio (%)          1.01
Name: 17, dtype: object
18 State/UTs              Lakshadweep
Total Cases                  10249
Active                          54
Discharged                   10145
Deaths                          50
Active Ratio (%)              0.53
Discharge Ratio (%)          98.99
Death Ratio (%)               0.49
Name: 18, dtype: object
19 State/UTs              Madhya Pradesh
Total Cases                    791970
Active                            149
Discharged                     781307
Deaths                          10514
Active Ratio (%)                 0.02
Discharge Ratio (%)             98.65
Death Ratio (%)                  1.33
Name: 19, dtype: object
20 State/UTs              Maharashtra
Total Cases                6357833
Active                       71813
Discharged                 6151956
Deaths                      134064
Active Ratio (%)              1.13
Discharge Ratio (%)          96.76
Death Ratio (%)               2.11
Name: 20, dtype: object
21 State/UTs              Manipur
Total Cases             104791
Active                    7006
Discharged               96128
Deaths                    1657
Active Ratio (%)          6.69
Discharge Ratio (%)      91.73
Death Ratio (%)           1.58
Name: 21, dtype: object
22 State/UTs              Meghalaya
Total Cases                69358
Active                      4734
Discharged                 63450
Deaths                      1174
Active Ratio (%)            6.83
Discharge Ratio (%)        91.48
Death Ratio (%)             1.69
Name: 22, dtype: object
23 State/UTs              Mizoram
Total Cases              45457
Active                   12434
Discharged               32854
Deaths                     169
Active Ratio (%)         27.35
Discharge Ratio (%)      72.27
Death Ratio (%)           0.37
Name: 23, dtype: object
24 State/UTs              Nagaland
Total Cases               28709
Active                     1397
Discharged                26727
Deaths                      585
Active Ratio (%)           4.87
Discharge Ratio (%)        93.1
Death Ratio (%)            2.04
Name: 24, dtype: object
25 State/UTs              Odisha
Total Cases            987956
Active                  10064
Discharged             971391
Deaths                   6501
Active Ratio (%)         1.02
Discharge Ratio (%)     98.32
Death Ratio (%)          0.66
Name: 25, dtype: object
26 State/UTs              Puducherry
Total Cases                121665
Active                        834
Discharged                 119031
Deaths                       1800
Active Ratio (%)             0.69
Discharge Ratio (%)         97.84
Death Ratio (%)              1.48
Name: 26, dtype: object
27 State/UTs              Punjab
Total Cases            599514
Active                    441
Discharged             582753
Deaths                  16320
Active Ratio (%)         0.07
Discharge Ratio (%)      97.2
Death Ratio (%)          2.72
Name: 27, dtype: object
28 State/UTs              Rajasthan
Total Cases               953840
Active                       216
Discharged                944670
Deaths                      8954
Active Ratio (%)            0.02
Discharge Ratio (%)        99.04
Death Ratio (%)             0.94
Name: 28, dtype: object
29 State/UTs              Sikkim
Total Cases             27908
Active                   2731
Discharged              24822
Deaths                    355
Active Ratio (%)         9.79
Discharge Ratio (%)     88.94
Death Ratio (%)          1.27
Name: 29, dtype: object
30 State/UTs              Tamil Nadu
Total Cases               2577237
Active                      20427
Discharged                2522470
Deaths                      34340
Active Ratio (%)             0.79
Discharge Ratio (%)         97.87
Death Ratio (%)              1.33
Name: 30, dtype: object
31 State/UTs              Telengana
Total Cases               649859
Active                      8242
Discharged                637789
Deaths                      3828
Active Ratio (%)            1.27
Discharge Ratio (%)        98.14
Death Ratio (%)             0.59
Name: 31, dtype: object
32 State/UTs              Tripura
Total Cases              80416
Active                    2044
Discharged               77601
Deaths                     771
Active Ratio (%)          2.54
Discharge Ratio (%)       96.5
Death Ratio (%)           0.96
Name: 32, dtype: object
33 State/UTs              Uttar Pradesh
Total Cases                  1708793
Active                           570
Discharged                   1685449
Deaths                         22774
Active Ratio (%)                0.03
Discharge Ratio (%)            98.63
Death Ratio (%)                 1.33
Name: 33, dtype: object
34 State/UTs              Uttarakhand
Total Cases                 342423
Active                         446
Discharged                  334609
Deaths                        7368
Active Ratio (%)              0.13
Discharge Ratio (%)          97.72
Death Ratio (%)               2.15
Name: 34, dtype: object
35 State/UTs              West Bengal
Total Cases                1534360
Active                       10312
Discharged                 1505808
Deaths                       18240
Active Ratio (%)              0.67
Discharge Ratio (%)          98.14
Death Ratio (%)               1.19
Name: 35, dtype: object

In [27]:
for i, row in enumerate(df):
    print(i, row)

0 States
1 Total Cases
2 Active
3 Discharged
4 Deaths
5 Active Ratio (%)
6 Discharge Ratio (%)
7 Death Ratio (%)

In [29]:
#faster by tuple
for row in df.itertuples():
    print(getattr(row, "States"))

Andaman and Nicobar
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli and Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Ladakh
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Odisha
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Telengana
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [10]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

# Iterate over europe
for key, value in europe.items():
    print(key, value)

spain madrid
france paris
germany berlin
norway oslo
italy rome
poland warsaw
austria vienna

In [11]:
df['State/UTs'].apply(str.upper)

0                          ANDAMAN AND NICOBAR
1                               ANDHRA PRADESH
2                            ARUNACHAL PRADESH
3                                        ASSAM
4                                        BIHAR
5                                   CHANDIGARH
6                                 CHHATTISGARH
7     DADRA AND NAGAR HAVELI AND DAMAN AND DIU
8                                        DELHI
9                                          GOA
10                                     GUJARAT
11                                     HARYANA
12                            HIMACHAL PRADESH
13                           JAMMU AND KASHMIR
14                                   JHARKHAND
15                                   KARNATAKA
16                                      KERALA
17                                      LADAKH
18                                 LAKSHADWEEP
19                              MADHYA PRADESH
20                                 MAHARASHTRA
21                                     MANIPUR
22                                   MEGHALAYA
23                                     MIZORAM
24                                    NAGALAND
25                                      ODISHA
26                                  PUDUCHERRY
27                                      PUNJAB
28                                   RAJASTHAN
29                                      SIKKIM
30                                  TAMIL NADU
31                                   TELENGANA
32                                     TRIPURA
33                               UTTAR PRADESH
34                                 UTTARAKHAND
35                                 WEST BENGAL
Name: State/UTs, dtype: object

In [12]:
df.count()

State/UTs              36
Total Cases            36
Active                 36
Discharged             36
Deaths                 36
Active Ratio (%)       36
Discharge Ratio (%)    36
Death Ratio (%)        36
dtype: int64

In [15]:
df.value_counts()

State/UTs                                 Total Cases  Active  Discharged  Deaths  Active Ratio (%)  Discharge Ratio (%)  Death Ratio (%)
Andaman and Nicobar                       7546         5       7412        129     0.07              98.22                1.71               1
Andhra Pradesh                            1983721      19549   1950623     13549   0.99              98.33                0.68               1
Maharashtra                               6357833      71813   6151956     134064  1.13              96.76                2.11               1
Manipur                                   104791       7006    96128       1657    6.69              91.73                1.58               1
Meghalaya                                 69358        4734    63450       1174    6.83              91.48                1.69               1
Mizoram                                   45457        12434   32854       169     27.35             72.27                0.37               1
Nagaland                                  28709        1397    26727       585     4.87              93.10                2.04               1
Odisha                                    987956       10064   971391      6501    1.02              98.32                0.66               1
Puducherry                                121665       834     119031      1800    0.69              97.84                1.48               1
Punjab                                    599514       441     582753      16320   0.07              97.20                2.72               1
Rajasthan                                 953840       216     944670      8954    0.02              99.04                0.94               1
Sikkim                                    27908        2731    24822       355     9.79              88.94                1.27               1
Tamil Nadu                                2577237      20427   2522470     34340   0.79              97.87                1.33               1
Telengana                                 649859       8242    637789      3828    1.27              98.14                0.59               1
Tripura                                   80416        2044    77601       771     2.54              96.50                0.96               1
Uttar Pradesh                             1708793      570     1685449     22774   0.03              98.63                1.33               1
Uttarakhand                               342423       446     334609      7368    0.13              97.72                2.15               1
Madhya Pradesh                            791970       149     781307      10514   0.02              98.65                1.33               1
Lakshadweep                               10249        54      10145       50      0.53              98.99                0.49               1
Ladakh                                    20400        72      20121       207     0.35              98.63                1.01               1
Delhi                                     1436800      498     1411235     25067   0.03              98.22                1.74               1
Arunachal Pradesh                         50372        2606    47520       246     5.17              94.34                0.49               1
Assam                                     575220       11096   558720      5404    1.93              97.13                0.94               1
Bihar                                     725235       286     715303      9646    0.04              98.63                1.33               1
Chandigarh                                61984        27      61146       811     0.04              98.65                1.31               1
Chhattisgarh                              1003244      1700    988004      13540   0.17              98.48                1.35               1
Dadra and Nagar Haveli and Daman and Diu  10653        6       10643       4       0.06              99.91                0.04               1
Goa                                       171944       896     167884      3164    0.52              97.64                1.84               1
Kerala                                    3565574      170031  3377691     17852   4.77              94.73                0.50               1
Gujarat                                   825064       209     814778      10077   0.03              98.75                1.22               1
Haryana                                   770091       672     759769      9650    0.09              98.66                1.25               1
Himachal Pradesh                          208197       2086    202576      3535    1.00              97.30                1.70               1
Jammu and Kashmir                         322658       1311    316957      4390    0.41              98.23                1.36               1
Jharkhand                                 347406       202     342074      5130    0.06              98.47                1.48               1
Karnataka                                 2919711      23342   2859552     36817   0.80              97.94                1.26               1
West Bengal                               1534360      10312   1505808     18240   0.67              98.14                1.19               1
dtype: int64

In [17]:
df.columns

Index(['State/UTs', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio (%)', 'Discharge Ratio (%)', 'Death Ratio (%)'],
      dtype='object')

In [18]:
# rename columns
# by dictionary
df.rename(columns = {'State/UTs' : 'State'})

,State,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7546,5,7412,129,0.07,98.22,1.71
1,Andhra Pradesh,1983721,19549,1950623,13549,0.99,98.33,0.68
2,Arunachal Pradesh,50372,2606,47520,246,5.17,94.34,0.49
3,Assam,575220,11096,558720,5404,1.93,97.13,0.94
4,Bihar,725235,286,715303,9646,0.04,98.63,1.33
5,Chandigarh,61984,27,61146,811,0.04,98.65,1.31
6,Chhattisgarh,1003244,1700,988004,13540,0.17,98.48,1.35
7,Dadra and Nagar Haveli and Daman and Diu,10653,6,10643,4,0.06,99.91,0.04
8,Delhi,1436800,498,1411235,25067,0.03,98.22,1.74
9,Goa,171944,896,167884,3164,0.52,97.64,1.84
10,Gujarat,825064,209,814778,10077,0.03,98.75,1.22
11,Haryana,770091,672,759769,9650,0.09,98.66,1.25
12,Himachal Pradesh,208197,2086,202576,3535,1.00,97.30,1.70
13,Jammu and Kashmir,322658,1311,316957,4390,0.41,98.23,1.36
14,Jharkhand,347406,202,342074,5130,0.06,98.47,1.48
15,Karnataka,2919711,23342,2859552,36817,0.80,97.94,1.26
16,Kerala,3565574,170031,3377691,17852,4.77,94.73,0.50
17,Ladakh,20400,72,20121,207,0.35,98.63,1.01
18,Lakshadweep,10249,54,10145,50,0.53,98.99,0.49
19,Madhya Pradesh,791970,149,781307,10514,0.02,98.65,1.33
20,Maharashtra,6357833,71813,6151956,134064,1.13,96.76,2.11
21,Manipur,104791,7006,96128,1657,6.69,91.73,1.58
22,Meghalaya,69358,4734,63450,1174,6.83,91.48,1.69
23,Mizoram,45457,12434,32854,169,27.35,72.27,0.37
24,Nagaland,28709,1397,26727,585,4.87,93.10,2.04
25,Odisha,987956,10064,971391,6501,1.02,98.32,0.66
26,Puducherry,121665,834,119031,1800,0.69,97.84,1.48
27,Punjab,599514,441,582753,16320,0.07,97.20,2.72
28,Rajasthan,953840,216,944670,8954,0.02,99.04,0.94
29,Sikkim,27908,2731,24822,355,9.79,88.94,1.27
30,Tamil Nadu,2577237,20427,2522470,34340,0.79,97.87,1.33
31,Telengana,649859,8242,637789,3828,1.27,98.14,0.59
32,Tripura,80416,2044,77601,771,2.54,96.50,0.96
33,Uttar Pradesh,1708793,570,1685449,22774,0.03,98.63,1.33
34,Uttarakhand,342423,446,334609,7368,0.13,97.72,2.15
35,West Bengal,1534360,10312,1505808,18240,0.67,98.14,1.19

In [20]:
# by index string
df.columns.str.replace('State/UTs', 'State')

Index(['State', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio (%)', 'Discharge Ratio (%)', 'Death Ratio (%)'],
      dtype='object')

In [21]:
# list comprehensive
df.columns = ['States' if x == 'State' else x for x in df.columns]
df.columns

Index(['States', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio (%)', 'Discharge Ratio (%)', 'Death Ratio (%)'],
      dtype='object')

In [23]:
# Multiple condition filtering
df[ (df['Active'] > 5000 )  & ( df['Active'] < 10000) ]

,States,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
21,Manipur,104791,7006,96128,1657,6.69,91.73,1.58
31,Telengana,649859,8242,637789,3828,1.27,98.14,0.59

In [26]:
df.sort_values('Active', ascending = True)

,States,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7546,5,7412,129,0.07,98.22,1.71
7,Dadra and Nagar Haveli and Daman and Diu,10653,6,10643,4,0.06,99.91,0.04
5,Chandigarh,61984,27,61146,811,0.04,98.65,1.31
18,Lakshadweep,10249,54,10145,50,0.53,98.99,0.49
17,Ladakh,20400,72,20121,207,0.35,98.63,1.01
19,Madhya Pradesh,791970,149,781307,10514,0.02,98.65,1.33
14,Jharkhand,347406,202,342074,5130,0.06,98.47,1.48
10,Gujarat,825064,209,814778,10077,0.03,98.75,1.22
28,Rajasthan,953840,216,944670,8954,0.02,99.04,0.94
4,Bihar,725235,286,715303,9646,0.04,98.63,1.33
27,Punjab,599514,441,582753,16320,0.07,97.20,2.72
34,Uttarakhand,342423,446,334609,7368,0.13,97.72,2.15
8,Delhi,1436800,498,1411235,25067,0.03,98.22,1.74
33,Uttar Pradesh,1708793,570,1685449,22774,0.03,98.63,1.33
11,Haryana,770091,672,759769,9650,0.09,98.66,1.25
26,Puducherry,121665,834,119031,1800,0.69,97.84,1.48
9,Goa,171944,896,167884,3164,0.52,97.64,1.84
13,Jammu and Kashmir,322658,1311,316957,4390,0.41,98.23,1.36
24,Nagaland,28709,1397,26727,585,4.87,93.10,2.04
6,Chhattisgarh,1003244,1700,988004,13540,0.17,98.48,1.35
32,Tripura,80416,2044,77601,771,2.54,96.50,0.96
12,Himachal Pradesh,208197,2086,202576,3535,1.00,97.30,1.70
2,Arunachal Pradesh,50372,2606,47520,246,5.17,94.34,0.49
29,Sikkim,27908,2731,24822,355,9.79,88.94,1.27
22,Meghalaya,69358,4734,63450,1174,6.83,91.48,1.69
21,Manipur,104791,7006,96128,1657,6.69,91.73,1.58
31,Telengana,649859,8242,637789,3828,1.27,98.14,0.59
25,Odisha,987956,10064,971391,6501,1.02,98.32,0.66
35,West Bengal,1534360,10312,1505808,18240,0.67,98.14,1.19
3,Assam,575220,11096,558720,5404,1.93,97.13,0.94
23,Mizoram,45457,12434,32854,169,27.35,72.27,0.37
1,Andhra Pradesh,1983721,19549,1950623,13549,0.99,98.33,0.68
30,Tamil Nadu,2577237,20427,2522470,34340,0.79,97.87,1.33
15,Karnataka,2919711,23342,2859552,36817,0.80,97.94,1.26
20,Maharashtra,6357833,71813,6151956,134064,1.13,96.76,2.11
16,Kerala,3565574,170031,3377691,17852,4.77,94.73,0.50

In [16]:
# question
l1 = [1,4,5,7]
l2 = [2,3,7,9,12,14,17]

# method 1 
def merge1(list1, list2):
    
    n1 = len(list1)
    n2 = len(list2)
    
    if n1 >= n2:
        output = list1
        for i in range(n2):
            output.append(list2[i])
    else:
        output = list2
        for i in range(n1):
            output.append(list1[i])
    
    output.sort()
    
    return output
        
    
# method 2
def merge2(list1, list2):
    return sorted(list1 + list2)


# method 3
def merge3(list1, list2):
    
    n1 = len(list1)
    n2 = len(list2)
    output = []
    i,j = 0,0
    while i < n1 and j < n2:
        if list1[i] <= list2[j]:
            output.append(list1[i])
            i+= 1
        else:
            output.append(list2[j])
            j+= 1
    return output + list1[i:] + list2[j:]

print(f' method 1: ', merge1(l1, l2))
print(f' method 2: ', merge2(l1, l2))
print(f' method 3: ', merge3(l1, l2))

 method 1:  [1, 2, 3, 4, 5, 7, 7, 9, 12, 14, 17]
 method 2:  [1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, 9, 12, 14, 17]
 method 3:  [1, 1, 2, 3, 4, 4, 5, 5, 7, 7, 7, 9, 12, 14, 17]

[2, 3, 7, 9, 12, 14, 17]
[3, 7, 9, 12, 14, 17]
[7, 9, 12, 14, 17]
[1, 2, 4, 3, 5, 7, 7]

In [8]:
"""
Given an integer array arr, and an integer target, 
return the number of tuples i, j, k such that i < j < k and arr[i] + arr[j] + arr[k] == target.

Input: arr = [1,1,2,2,3,3,4,4,5,5], target = 8
Output: 20
Explanation: 
Enumerating by the values (arr[i], arr[j], arr[k]):
(1, 2, 5) occurs 8 times;
(1, 3, 4) occurs 8 times;
(2, 2, 4) occurs 2 times;
(2, 3, 3) occurs 2 times.
"""


arr = [1,1,2,2,3,3,4,4,5,5]

hash = {}

for i in arr:
    if i not in hash:
        hash[i] = 0
    if i in hash:
        hash[i] += 1
target = 8        
for i in arr:
    remaining = target - i
        
print(hash)

d = [0] * 300
res = 0
for i in range(len(arr)):
    res += d[target-arr[i]] if target-arr[i] >=0 else 0
    print(res)
    res %= (10**9+7)
    for j in range(i):
        d[arr[i] + arr[j]] += 1
print(res, res % (10**9+7))

{1: 2, 2: 2, 3: 2, 4: 2, 5: 2}
0
0
0
0
0
2
7
12
16
20
20 20